// Body
$body-bg: #f8fafc;
$base-yellow: #f9ca24;
$base-dark: #041e1d;
$base-blue: #2C5BFF;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
