/* useful resources 
https://www.sliderrevolution.com/resources/css-button-hover-effects/
https://ianlunn.github.io/Hover/ 
*/

/* start scroll to top button styling */
#btnScrollToTop {
    position: fixed;
    bottom: 20px; right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;
}

#btnScrollToTop:active {
    background: #cc2333;
}
/* end scroll to top button styling */

/* start floating chat bot button styling */
.btnFloatChatBot {
    position: fixed;
    bottom: 20px; right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    outline: none;
    transition: 2s;
    cursor: pointer;
    z-index: 10;

    &:hover {
        transform: rotate(720deg);
    }

    &:active {
        transform: rotate(720deg) scale(1.2);
    }
}
/* end floating chat bot button styling */

/* start hamburger menu button styling */
#btnHamburgerMenu {
    position: fixed;
    top: 38px; right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.6s;
    z-index: 100;
    display: none;
}

#btnHamburgerMenu:active {
    background: #236ccc;
}
/* end hamburger menu button styling */

/* start swiper button styling */
.swiper-button-next, .swiper-button-prev {
    opacity: 0.6;
    --swiper-navigation-size: 20px;
    --swiper-theme-color: #7d2ae8;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
    opacity: 1;
}

#btnNavigatorSlider {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7d2ae8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
}

#btnNavigatorSlider:active {
    background: #6616d0;
}
/* end swiper button styling */

/* start global button gen element styling */
.btn-normal {
    all: unset;
    background-color: $base-blue;
    min-width: 100px;
    color: #FFF;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 10px;
    transition: .3s;
    font-weight: 600;
    cursor: pointer;
}
.btn-normal:hover {
    background-color: $base-yellow;
    color: $base-dark;
}

.btn-gen {                        
    position: relative;
    border: none;
    text-transform: uppercase;
    min-width: 100px;
    font-weight: 600;
    transition: .4s ease-in;
    z-index: 1;
    margin: 10px 10px;
    background-color: #343A40;
    border-radius: 4px;  
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-gen-1:hover {                 // Door Effect                
    box-shadow: inset -4.5em 0 0 0 #ff96ad, 
    inset 4.5em 0 0 0 #ff96ad;
    transition-duration: .6s;
}

.btn-gen-2:hover {                 // Shutter Effect
    box-shadow: inset 0 -40px 0 0 #ff96ad;
    transition-duration: .6s;
}
.btn-gen-3:hover {
    box-shadow: inset 0 -1.5em 0 0 #ff96ad,
    inset 0 1.5em 0 0 #ff96ad;
    transition-duration: 0.6s;
}

.btn-gen-4:hover {                  // Glow Effect
    background: #ff96ad;
    box-shadow: 0 0 2.5px #ff96ad, 
    0 0 12.5px #ff96ad, 
    0 0 25px #ff96ad, 
    0 0 100px #ff96ad;
}

.btn-gen-5:hover {                  // Double Effect
    box-shadow: 10px 10px 0px #ff96ad;
    top: -5px;
    left: -5px;
}

.btn-gen-6:hover {                  // Rainbow Effect
    background-image:     linear-gradient(
        to right, 
        #E7484F,
        #E7484F 16.65%,
        #F68B1D 16.65%,
        #F68B1D 33.3%,
        #FCED00 33.3%,
        #FCED00 49.95%,
        #009E4F 49.95%,
        #009E4F 66.6%,
        #00AAC3 66.6%,
        #00AAC3 83.25%,
        #732982 83.25%,
        #732982 100%,
        #E7484F 100%
    );
    animation:slidebg 3s linear infinite;
    color: #FFF;
}
@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

.btn-gen-7 {
    border: 2px solid #343A40;
}
.btn-gen-7:hover {
    border: 2px solid #ff96ad;
    color: #ff96ad;
    background-color: #17181c;
}


/* start global button fun element styling */
.btn-fun {
    text-transform: uppercase;
    position: relative;
    border: none;
    font-size: 18px;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    outline: none;
    border-radius: 3px;
    margin: 10px 10px;
    min-width: 200px;
    padding: 20px 30px;
    border: 3px solid transparent;
    cursor: pointer;
  
    &:active {
        transform: translateY(3px)
    }
    &::after, &::before {
        border-radius: 3px
    }
}

.shrink-border {
    background-color: transparent;
    color: darken($darkblue, 10%);

    &:hover {
        background-color: transparent;
        box-shadow: none;
        color: $offwhite;
    }
  
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid darken($darkblue, 10%);
        transition: opacity 0.3s, border 0.3s;
    }

    &:hover::before {
        opacity: 0;
    }
  
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 3px solid $offwhite;
        opacity: 0;
        z-index: -1;
        transform: scaleX(1.1) scaleY(1.3);
        transition: transform 0.3s, opacity 0.3s;
    }
  
    &:hover::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}

.material-bubble {
    background-color: transparent;
    color: darken($darkblue, 10%);
    border: none;
    overflow: hidden;
    box-shadow: none;
  
    &:hover {
        color: $offwhite;
    }
  
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid darken($darkblue, 10%);
        transition: opacity 0.3s, border 0.3s;
    }

    &:hover::before {
        opacity: 0;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background-color: lighten($darkblue, 10%);
        border-color: transparent;
        border-radius: 50%;
        transform: translate(-0px, -67px) scale(0.1);
        opacity: 0;
        z-index: -1;
        transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
    }
  
    &:hover::after{
        opacity: 1;
        transform-origin: 100px 100px;
        transform: scale(1) translate(-0px, -67px);
    }
}

/* end global button element styling */