* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* transition: 0.2s; */
}

*::selection{
    background: $base-yellow;
    color: #333;
}

body {
    background: $base-dark;
    min-width: 100%;
    overflow-x: hidden;
}