* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* transition: 0.2s; */
}

*::selection{
    background: $base-yellow;
    color: #333;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-track{
    background: $base-dark;
}

html::-webkit-scrollbar-thumb{
    background: $base-yellow;
}

body {
    background: $base-dark;
    min-width: 100%;
}

main {
    overflow-x: hidden; //https://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers
}