/* start layout styling */
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {                                        /* Create four equal columns that sits next to each other */
    flex: 25%;
    padding: 2rem;
}

.flex-col {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    align-content: center;
}


.dummy-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
}


@media screen and (max-width: 1200px) {          /* Responsive layout - makes a two column-layout instead of four columns */
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 900px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .banner-content, #btnScrollToTop,
    .dummy-content {
        transform: scale(0.5);
    }
}
@media screen and (max-width: 768px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
  
@media screen and (max-width: 620px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .topnav ul li {
        display: none;
    }
    /* .topnav ul li:not(:first-child) {
        display: none;
    } */
    header .logo {
        margin-left: -80px;
        transition: 0.6s;
    }
    .logo .logo-text {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
/* end layout styling */